/****** HERO COMPONENT ******/

.hero {
  position: relative;
  margin-top: -5rem;
  padding-top: 5rem;
  height: 100vh;
  background-image: repeating-linear-gradient(
      307deg,
      rgba(185, 242, 255, 0.05) 0px,
      rgba(185, 242, 255, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      rgba(185, 242, 255, 0.05) 11px,
      rgba(185, 242, 255, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      352deg,
      rgba(185, 242, 255, 0.05) 0px,
      rgba(185, 242, 255, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      rgba(185, 242, 255, 0.05) 11px,
      rgba(185, 242, 255, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      262deg,
      rgba(185, 242, 255, 0.05) 0px,
      rgba(185, 242, 255, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      rgba(185, 242, 255, 0.05) 11px,
      rgba(185, 242, 255, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    repeating-linear-gradient(
      397deg,
      rgba(185, 242, 255, 0.05) 0px,
      rgba(185, 242, 255, 0.05) 1px,
      transparent 1px,
      transparent 11px,
      rgba(185, 242, 255, 0.05) 11px,
      rgba(185, 242, 255, 0.05) 12px,
      transparent 12px,
      transparent 32px
    ),
    linear-gradient(352deg, rgba(30, 0, 255, 0.9), rgba(235, 249, 255, 0.76));
  position: relative;
}

.hero-center {
  height: 100%;
  display: grid;
  align-items: center;
}

.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
.hero-info {
  /* background: var(--clr-primary-10); */
  grid-row: 1/1;
  /* grid-column: 1 / span 5; */
}
.hero-img {
  display: none;
}
.hero-info h4 {
  color: var(--clr-primary-10);
}
.hero-icons {
  justify-items: flex-start;
}
.hero .btn {
  margin-top: 1.25rem;
}

@media screen and (min-width: 992px) {
  .hero-center {
    grid-template-columns: repeat(12, 1fr);
  }

  .hero h4 {
    font-size: 0.85rem;
  }
  .hero-info {
    grid-row: 1/2;
    /* width: 30rem; */
  }
  .hero-img {
    width: 30rem;
    display: inline-block;
    grid-row: 1/1;
    grid-column: 7/-2;
    margin-bottom: 7rem;
    margin-left: 7rem;
  }
}
@media screen and (min-width: 1170px) {
  .hero h4 {
    font-size: 1rem;
  }

  .hero-info {
    grid-column: 1 / span 8;
  }

  .hero h4 {
    line-height: 1;
  }
}

/****** DETAILS COMPONENT ******/

.details-section {
  margin-top: -5rem;
  padding-top: 10rem;
  /* height: 90vh; */
  background: var(--clr-primary-30);
  position: relative;
}

.details {
  background: var(--clr-white);
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: var(--radius);
  text-align: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.details-icon {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.details .underline {
  width: 3rem;
  height: 0.12rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.details p {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.details:hover {
  background: rgb(141, 154, 212);
  color: var(--clr-primary-10);
}
.details:hover p {
  color: var(--clr-primary-10);
}
.details:hover .underline {
  background: var(--clr-primary-10);
}

@media screen and (min-width: 676px) {
  .details-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .details-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/**** ACTIONS COMPONENT*****/

.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../assets/action3.jpg'),
    radial-gradient(rgba(110, 140, 153, 0.76), rgba(30, 0, 255, 0.9));
  position: relative;
  background-size: cover;
  background-position: center;
  font-family: 'Share Tech Mono', monospace;
  font-size: 2rem;
  background-blend-mode: multiply, screen, overlay;
}

.action-text {
  font-family: 'Share Tech Mono', monospace;
  color: #fff;
  font-size: 6vh;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
  text-align: center;
}

.action-text::before,
.action-text::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 0.09em;
  min-width: 20vw;
}

.action-text::before {
  background: linear-gradient(to right, rgba(240, 240, 240, 0), #fff);
  margin-right: 4vh;
}

.action-text::after {
  background: linear-gradient(to left, rgba(240, 240, 240, 0), #fff);
  margin-left: 4vh;
}

.action-wedge {
  width: 100%;
  height: 90vh;
  /* padding: 3rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    360deg,
    #5855ff,
    #5b5aff,
    #6669ff,
    #7881ff,
    #8d9aff,
    #a3b3ff,
    #b8c8ff,
    #cad8ff,
    #d6e2ff,
    #dbe6ff
  );
}

.wedge-image {
  width: 70%;
  max-width: 20rem;
  margin-bottom: 2rem;
  padding-right: 5rem;
}

/* .wedge-content {
  margin: auto;
} */

.wedge-info {
  width: 70%;
  max-width: 20rem;
}

/** For desktop **/
@media (min-width: 1023px) {
  .action-wedge {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
  }
  .wedge-image {
    padding-left: 2rem;
    max-width: 25rem;
  }

  .wedge-info {
    width: 70%;
    max-width: 25rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .action-wedge {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
  }
  .action-text {
    font-size: 5vh;
  }
  .wedge-image {
    width: 30%;
    max-width: 20rem;
    padding-right: 0;
  }

  .wedge-info {
    width: 30%;
    max-width: 20rem;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .action-text {
    font-size: 3vh;
  }

  .action-text::before,
  .action-text::after {
    min-width: 17vw;
  }
  .action-text::before {
    margin-right: 2vh;
  }

  .action-text::after {
    margin-left: 2vh;
  }
}

/**** Custom Wave Shape Hero ****/
.custom-shape-divider-bottom-1615009014 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1615009014 svg {
  position: relative;
  display: block;
  width: calc(165% + 1.3px);
  height: 88px;
}

.custom-shape-divider-bottom-1615009014 .shape-fill {
  fill: #ffffff;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-bottom-1615009014 svg {
    width: calc(165% + 1.3px);
    height: 117px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1615009014 svg {
    width: calc(141% + 1.3px);
    height: 63px;
  }
}

/**** Custom Wave Shape Action Top ****/
.custom-shape-divider-top-1617676600 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1617676600 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 40px;
}

.custom-shape-divider-top-1617676600 .shape-fill {
  fill: #ffffff;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-top-1617676600 svg {
    width: calc(100% + 1.3px);
    height: 31px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1617676600 svg {
    width: calc(100% + 1.3px);
    height: 20px;
  }
}

/**** Custom Wave Shape Action Bottom ****/
.custom-shape-divider-bottom-1617677217 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1617677217 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 40px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1617677217 .shape-fill {
  fill: #dbe6ff;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-bottom-1617677217 svg {
    width: calc(100% + 1.3px);
    height: 31px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1617677217 svg {
    width: calc(100% + 1.3px);
    height: 20px;
  }
}
