.about-page,
.browse-page,
.post-page,
.create-page,
.contact-page {
  /* background: var(--clr-grey-5); */
  /* background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%); */
  /* background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%); */

  background: hsl(204, 50%, 42%);
  /* background: hsl(274, 13%, 61%); */

  /* background-image: repeating-linear-gradient(
      132deg,
      rgba(21, 7, 113, 0.05) 0px,
      rgba(21, 7, 113, 0.05) 1px,
      transparent 1px,
      transparent 9px
    ),
    repeating-linear-gradient(
      222deg,
      rgba(21, 7, 113, 0.05) 0px,
      rgba(21, 7, 113, 0.05) 1px,
      transparent 1px,
      transparent 9px
    ),
    linear-gradient(
      177deg,
      rgb(10, 73, 117),
      rgb(161, 174, 233),
      rgb(206, 212, 240)
    ); */
  display: grid;
  place-items: center;
  /* padding: 5rem 0; */
  min-height: calc(100vh - 5rem - 6rem);
}

.about-page,
.contact-page,
.create-page {
  padding: 5rem 0;
}

.post-page {
  background-color: rgb(245, 245, 245);
}

.page-wrapper {
  /* display: flex; */
}

/* @media screen and (max-width: 576px) {
  .create-page {
    padding: 2rem 0;
  }
} */

/***** CONTACT PAGE *******/

.contact-form {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
  width: 90vw;
  min-height: 15rem;
  max-width: 40rem;
}

.contact-image {
  height: 8rem;
  margin-bottom: 1rem;
}

.create-image {
  height: 10rem;
  margin-bottom: 1rem;
}

.contact-form:hover {
  box-shadow: var(--dark-shadow);
}
.contact-form h3 {
  padding-top: 1.25rem;
  color: var(--clr-primary-3);
}
.form-group {
  padding: 1rem 1.5rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  margin-bottom: 1.25rem;
  background: var(--clr-grey-10);
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.form-control::placeholder {
  font-family: var(--ff-primary);
  color: var(--clr-grey-1);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.submit-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.response-msg {
  color: var(--clr-primary-2);
  transition: var(--transition);
}

.error-msg {
  color: var(--clr-red-light);
  transition: var(--transition);
}

.MuiSelect-outlined.MuiSelect-outlined {
  text-align: start;
}

/***** POSTS PAGE ******/

.post-page {
  /* padding: 4rem 0; */
  display: flex;
  flex-direction: column;
}

/* .post-page p {
  color: rgb(255, 255, 255, 0.8);
  margin: 0.5rem;
} */

.post {
  display: block;
  margin-bottom: 2rem;
  background: var(--clr-grey-10);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}
.post:hover {
  box-shadow: var(--dark-shadow);
  transform: scale(1.02);
}
.post article {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}
.post-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.post-img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  /* height: 15rem; */
  height: 17.5rem;
}
.post-card {
  padding: 1.5rem 1rem;
}
.post-card h4 {
  color: var(--clr-grey-1);
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-footer p {
  margin-bottom: 0;
  font-weight: bold;
  color: var(--clr-grey-5);
}
.post-footer p:first-of-type {
  display: inline-block;
  background: var(--clr-grey-9);
  color: var(--clr-grey-5);
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}

.post-tags {
  margin-top: 3rem;
  text-align: center;
}
.post-tags span {
  display: inline-block;
  background: var(--clr-grey-9);
  color: var(--clr-grey-5);
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}

.post-content {
  padding: 3rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
  max-width: 900px;
  /* background-color: cornsilk; */
}

@media screen and (min-width: 992px) {
  .post-section-center {
    width: 95vw;
  }
}

/* @media screen and (min-width: 576px) {
  .post-center {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
    column-gap: 2rem;
  }
  .post-img {
    height: 17.5rem;
  }
}
@media screen and (min-width: 850px) {
  .post-img {
    height: 17.5rem;
  }
} */

/**** EDIT PAGE *****/
.edit-page-header {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-top: 0.75rem;
  font-family: var(--ff-primary);
  font-size: 1.45rem;
}

.loadingScreen {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-primary-2);
}

/**** BROWSE PAGE *****/
.browse-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0rem;
}

.browse-navbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0.75rem;
  background: rgba(54, 54, 54, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 100;
  position: sticky;
  top: 0px;
}

.browse-content-container {
  padding: 1rem 0.5rem 0rem 0.5rem;
  overflow: scroll;
  max-width: 50rem;
  width: 100%;
  /* height: calc(100vh - 11rem); */
}

.browse-title {
  display: none;
  margin: 0rem 4rem 0rem 0rem;
}

@media (min-width: 620px) {
  .browse-title {
    display: inline-block;
  }

  .browse-content-container {
    padding: 1rem 2rem 0rem 1rem;
  }
}

/***** ABOUT PAGE ******/

.about-header-box {
  width: 90vw;
  max-width: 45rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content {
  width: 90vw;
  max-width: 45rem;
  height: 100%;
  /* background-color: turquoise; */
}

.text-section {
  margin-top: 4rem;
}
