.heroContainer {
  padding: 2rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  text-align: center;
}

.dark-glassmorph {
  background: rgba(36, 35, 35, 0.4);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  /* backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); */
  /* border-radius: 10px; */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

@media screen and (max-width: 576px) {
  .heroContainer {
    padding: 2rem 0.5rem;
  }
}
