/****  POSTS BLOG *****/

.blog {
  display: block;
  margin-bottom: 2rem;
  background: var(--clr-grey-10);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}
.blog:hover {
  box-shadow: var(--dark-shadow);
  transform: scale(1.02);
}

.blog-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.blog article {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr;
}

.blog-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 1rem 1.75rem;
}

.blog-tag {
  background-color: rgb(235, 137, 18);
  color: whitesmoke;
  border-radius: var(--radius);
  border: 1px solid white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  letter-spacing: var(--spacing);
  text-transform: uppercase;
}

.blog-img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  /* height: 15rem; */
  height: 17.5rem;
}

.blog-card a,
h4 {
  color: var(--clr-grey-1);
}

.blog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-footer p {
  margin-bottom: 0;
  font-weight: bold;
  color: var(--clr-grey-5);
}
.blog-footer p:first-of-type {
  display: inline-block;
  background: var(--clr-grey-9);
  color: var(--clr-grey-5);
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}

.description-container {
  margin: 0.75rem 0rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 5rem;
}

.blog-description {
  /* text-overflow: ellipsis; */
  /* overflow: hidden; */
  font-size: 1.1rem;
}

.blog-section-center {
  max-width: 900px;
}

@media screen and (min-width: 992px) {
  .blog-section-center {
    width: 95vw;
  }
  .blog-card {
    padding: 4rem 6rem;
  }
}

@media screen and (min-width: 576px) {
  .blogs-center {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
    column-gap: 2rem;
  }

  .blog-card {
    padding: 1.5rem 2rem;
  }

  .blog-img {
    height: 17.5rem;
  }

  .blog-tag {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  .blog article {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 15fr;
  }

  .blog-wrapper {
    flex-direction: column;
  }
}
